absl-py
ansicon
argon2-cffi
argon2-cffi-bindings
asgiref
asttokens
astunparse
atomicwrites
attrs
autopep8
backcall
beautifulsoup4
binarytree
bleach
blessed
blessings
bpython
cachetools
certifi
cffi
charset-normalizer
colorama
coverage
cryptography
curtsies
cwcwidth
cycler
debugpy
decorator
defusedxml
Django
django-crispy-forms
django-extensions
django-filter
django-taggit
djangorestframework
entrypoints
et-xmlfile
executing
fastjsonschema
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
graphviz
greenlet
grpcio
gunicorn
h5py
idna
iniconfig
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jinxed
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
keras
Keras-Preprocessing
kiwisolver
libclang
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
mysql-connector-python
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
oauthlib
openpyxl
opt-einsum
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
pluggy
prometheus-client
prompt-toolkit
protobuf
psutil
pure-eval
py
pyasn1
pyasn1-modules
pycodestyle
pycparser
pydantic
Pygments
PyJWT
pyparsing
pyrsistent
pytest
pytest-cov
pytest-html
pytest-metadata
python-dateutil
pyxdg
pyzmq
qtconsole
QtPy
requests
requests-oauthlib
rsa
scikit-learn
scipy
seaborn
Send2Trash
setuptools-scm
six
social-auth-app-django
social-auth-core
soupsieve
sqlparse
stack-data
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-io-gcs-filesystem
termcolor
terminado
tf-estimator-nightly
threadpoolctl
tinycss2
toml
tomli

traitlets
typing_extensions
tzdata
urllib3
wcwidth
webencodings
Werkzeug

